@font-face {
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-family: inter;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-family: inter;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-family: inter;
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-family: inter;
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-family: inter;
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-family: inter;
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #2D3440;
  background-color: #FEAFC3;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  line-height: 20px;
}

.header-container {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  align-items: center;
}

.header-logo {
  display: block;
  margin-right: 32px;
}

.main-navigation {
  display: flex;
  width: 1033px;
  justify-content: space-between;
  align-items: center;
}

.navigation-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.main-navigation-list {
  width: 586px;
}

.navigation-user {
  width: 283px;
  justify-content: end;
}

.navigation-link {
  color: #2D3440;
  text-decoration: none;
  margin-right: 32px;
  display: inline-block;
  padding: 8px 16px;
}

.contacts-phone {
  color: #2D3440;
  font-weight: 700;
  text-decoration: none;
  width: 148px;
  display: block;
}

.navigation-user-button {
  margin-left: 16px;
}

.user-button-search {
  min-width: 32px;
  min-height: 32px;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 27px;
  border: rgba(252, 252, 252, 0.3);
}

.user-button-enter {
  min-width: 88px;
  min-height: 32px;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  border: rgba(252, 252, 252, 0.3);
}

.user-button-basket {
  min-width: 115px;
  min-height: 32px;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
  border: rgba(252, 252, 252, 0.3);
}

.main {
  display: flex;
  flex-direction: column;
  width: 1170px;
  margin: 0 auto;
  flex-grow: 1;
}

.inner-main {
  margin-top: 32px;
  margin-bottom: 40px;
}

.container {
  margin-bottom: 80px;
  width: 1170px;
}

.container:last-child {
  margin-bottom: 0;
}

.slider-ice-cream {
  width: 1170px;
}

.slider{
display: flex;
}

.slider-image-ice-cream{
  display: block;
  margin-top: 21px;
  margin-bottom: 26px;
}
.title {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
  margin: 0;
  display: block;
}

.title-center {
  text-align: center;
}
.title-slider {
  font-size: 36px;
  line-height: 46px;
  font-weight: 900;
  margin: 0;
  display: block;
  margin-left: 70px;
  margin-top: 136px;
  width: 470px;
}

.slider-description {
  width: 430px;
  margin: 0;
  margin-left: 70px;
  margin-top: 24px;
  margin-bottom: 44px;
}

.button-slider {
  margin-left: 70px;
}

.slider-ice-cream {
  font-size: 18px;
  line-height: 24px;
}

.social {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.social-item {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.button {
  font-family: "Inter", sans-serif;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #FCFCFC;
  background: #FF2F64;
  border: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  padding: 12px 32px;
  display: inline-block;
}

.button-type-link {
  font-family: "Inter", sans-serif;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #2D3440;
  background: #FCFCFC;
  border: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  padding: 12px 32px;
  display: inline-block;
}

.title-present {
  width: 434px;
  margin-left: 368px;
  margin-bottom: 55px;
}

.present-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.present-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.present-item {
  color: #2D3440;
  width: 570px;
  height: 268px;
  border-radius: 16px;
  background-size: 219px 268px;
  list-style: none;
}

.present-item-raspberries {
  background: #FF7799 url("../images/present/present-raspberries.png") no-repeat bottom right;
}

.present-item-marshmallow {
  background: #FF7799 url("../images/present/present-marshmallow.png") no-repeat bottom right;
}

.title-hit-ice {
  width: 527px;
  margin-left: 322px;
  margin-bottom: 56px;
}

.ice-cream-title-link {
  text-decoration: none;
}

.ice-cream-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  color: #2D3440;
}

.ice-cream-description {
  margin: 0;
}

.ice-cream-item {
  width: 270px;
  height: 281px;
  background: #FCFCFC;
  border-radius: 8px;
}

.ice-cream-svg {
  display: block;
  width: 32px;
  height: 32px;
}

.ice-cream-list {
  list-style: none;
  display: grid;
  grid-template-columns: 270px 270px 270px 270px;
  gap: 90px 30px;
  padding: 0;
}

.container-catalog {
  margin-bottom: 16px;
}

.ice-cream-description {
  color: #565C66;
  text-align: center;
}

.ice-cream-price {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.title-shop {
  width: 995px;
  margin: 56px 63px;
}

.shop-description {
  color: #565C66;
}

.container-shop {
  width: 1122px;
  height: 432px;
  background: #FFFFFF;
  border-radius: 16px;
}

.shop-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  list-style: none;
}

.shop-item {
  width: 505px;
}

.shop-ice-cream {
  background-image: url("../images/background/background-shop-ice-cream.jpg");
  width: 1170px;
  height: 480px;
  border-radius: 16px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.news {
  background-image: url("../images/background/background-news.jpg");
  width: 570px;
  height: 224px;
  border-radius: 16px;
}

.news-tile {
  line-height: 20px;
  color: #565C66;
  display: block;
  margin-left: 32px;
  margin-top: 32px;
  margin-bottom: 12px;
}

.news-link {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: none;
  color: #2D3440;
  display: block;
  width: 303px;
  margin-left: 32px;
}

.subscription {
  background-image: url("../images/background/background-subscription.jpg");
  border-radius: 16px;
  width: 570px;
  height: 224px;
}

.container-subscription {
  width: 558px;
  height: 212px;
  background: #FFFFFF;
  border-radius: 16px;
  margin-top: 6px;
  margin-left: 6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.subscription-description {
  color: #565C66;
  margin: 0;
}

.button-text .subscription-form {
  color: #B9B9B9;
  line-height: 20px;
}

.button-subscription {
  min-width: 152px;
  min-height: 44px;
}

.delivery {
  background-image: url("../images/background/background-delivery.jpg");
  height: 534px;
  border-radius: 16px;
}

.container-delivery {
  display: flex;
  justify-content: space-between;
}

.delivery-description {
  margin: 0;
  color: #565C66;
  margin-bottom: 32px;
}

.delivery-title-description {
  width: 380px;
  margin: 167px 100px;
}

.title-delivery {
  margin-bottom: 24px;
}

.delivery-content {
  display: block;
  box-sizing: border-box;
  width: 500px;
  height: 406px;
  background: #FCFCFC;
  box-shadow: 0 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
  margin: 64px;
  padding: 40px;
  padding-bottom: 42px;
}

.delivery-form {
  color: #B9B9B9;
  line-height: 20px;
  display: grid;
  grid-template-columns: 117px 287px;
  gap: 20px 16px;
}

.form-label-address {
  grid-column: 1/-1;
}

.button-delivery{
  grid-column: 1/-1;
  justify-self: center;
  align-self: end;
}

.label-text {
  color: #2D3440;
  display: flex;
  flex-direction: column;
}


.contacts {
  background-image: url("../images/background/background-contacts.jpg");
  height: 492px;
  border-radius: 16px;
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding: 64px;
  margin: 0;

}

.container-contacts {
  width: 343px;
  height: 364px;
  background: #FCFCFC;
  box-shadow: 0 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.contacts-list {
  margin: 0;
  padding: 40px 40px 32px;
}

.contacts-text {
  color: #565C66;
}

.contacts-address {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.contacts-time {
  font-size: 14px;
  line-height: 20px;
  color: #565C66;
}

.contacts-telephone-text {
  text-decoration: none;
  color: #2D3440;
}

.container-page-footer {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.navigation-page-footer {
  width: 356px;
}

.navigation-page-footer-link {
  list-style: none;
}

.navigation-page-link {
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
  display: inline-block;
}

.navigation-page-link-heart {
  font-weight: 700;
}

.about-text {
  font-size: 12px;
  line-height: 16px
}

.logo-html {
  margin-top: 48px;
}

.htmlacademy-link {
  color: #2D3440;
  font-size: 12px;
  line-height: 16px;
  border-bottom: 1px solid #2D3440;
  display: inline-block;
}

.inner-header {
  margin-bottom: 40px;
}

.breadcrumbs {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
  margin-right: 28px;
  list-style: none;
  flex-wrap: wrap;
}

.breadcrumbs-link {
  text-decoration: none;
  color: #2D3440;
  margin-right: 28px;
  display: inline-block;
}

.breadcrumbs-creamy {
  border-bottom: 1px solid #2D3440;
}

.catalog-filter {
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  width: 823px;
  margin-bottom: 44px;
}

.catalog-filter-group {
  background: rgb(252, 252, 252, 30%);
  border-radius: 20px;
}

.catalog-filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button-filter {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #2D3440;
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 20px;
  padding: 8px 32px;
  display: inline-block;
}

.ice-cream-list {
  width: 1170px;
  list-style: none;
}

.button-show-more {
  font-family: "Inter", sans-serif;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #2D3440;
  background: #FCFCFC;
  border: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  padding: 12px 32px;
  display: inline-block;
  margin-right: auto;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.pagination-show-more {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 41px;
}

.pagination {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.pagination-item:not(:last-child) {
  margin-right: 13px;
}

.pagination-link {
  line-height: 20px;
  text-decoration: none;
  color: #2D3440;
  display: inline-block;
}

.pagination-current {
  background: #FCFCFC;
  border-radius: 50px;
  width: 24px;
  height: 24px;
  padding: 2px 8px;
  gap: 10px;
  box-sizing: border-box;
}
