@font-face {
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-family: inter;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-family: inter;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-family: inter;
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-family: inter;
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-family: inter;
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-family: inter;
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #2D3440;
  background-color: #FEAFC3;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

<!-- раскоментировать после добавления соц.сетей
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
-->

.main-container {
  flex-grow: 1;
}
.main-header {
  line-height: 20px;
  width: 1170px;
  display: flex;
  margin: 0 auto;
}

.navigation-item {
  list-style: none;
}

.navigation-link {
  color: #2D3440;
  text-decoration: none;
}

.contacts-phone {
  color: #2D3440;
  font-weight: 700;
  text-decoration: none;
}

.title-slider {
  font-size: 36px;
  line-height: 46px;
  font-weight: 900;
}

.title {
  font-size: 32px;
  line-height: 46px;
  font-weight: 900;
}

.title-center {
  text-align: center;
}

.slider-ice-cream {
  font-size: 18px;
  line-height: 24px;
}

.button {
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #FCFCFC;
  background: #FF2F64;
  border: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
}

.button-type-link {
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #2D3440;
  background: #FCFCFC;
  border: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
}

.present-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.present-item {
  color: #2D3440;
  width: 570px;
  height: 268px;
  border-radius: 16px;
  background-size: 219px 268px;
  list-style: none;
}

.present-item-raspberries {
  background: #FF7799 url("../images/present/present-raspberries.png") no-repeat bottom right;
}

.present-item-marshmallow {
  background: #FF7799 url("../images/present/present-marshmallow.png") no-repeat bottom right;
}

.ice-cream-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

.ice-cream-list {
  list-style: none;
}
.ice-cream-description {
  color: #565C66;
  text-align: center;
}

.ice-cream-price {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.shop-description {
  color: #565C66;
}

.shop-ice-cream {
  background-image: url("../images/background/background-shop-ice-cream.png");
  width: 1170px;
  height: 480px;
  border-radius: 16px;
  background-repeat: no-repeat;
}

.news {
  background-image: url("../images/background/background-news.jpg");
  width: 570px;
  height: 224px;
  border-radius: 16px;
}

.news-tile {
  line-height: 20px;
  color: #565C66;
}

.news-link {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: none;
  color: #2D3440;
}

.subscription {
  background-image: url("../images/background/background-subscription.png");
  border-radius: 16px;
  width: 570px;
  height: 224px;
}

.subscription-description {
  color: #565C66;
}

.subscription-form {
  color: #B9B9B9;
  line-height: 20px;
}

.delivery {
  background-image: url("../images/background/background-delivery.jpg");
  width: 1170px;
  height: 534px;
  border-radius: 16px;
}

.delivery-description {
  color: #565C66;
}

.delivery-form {
  color: #B9B9B9;
  line-height: 20px;
  background: #FCFCFC;
  box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.label-text {
  color: #2D3440;
}

.contacts {
  background-image: url("../images/background/background-contacts.jpg");
  width: 1170px;
  height: 492px;
  border-radius: 16px;
  background-repeat: no-repeat;
}

.contacts-text {
  color: #565C66;
}

.contacts-address {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.contacts-time {
  font-size: 14px;
  line-height: 20px;
  color: #565C66;
}

.contacts-telephone-text {
  text-decoration: none;
  color: #2D3440;
}

.navigation-page-link {
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
}

.navigation-page-link-heart {
  font-weight: 700;
}

.about-text {
  font-size: 12px;
  line-height: 16px
}

.htmlacademy-link {
  color: #2D3440;
  font-size: 12px;
  line-height: 16px;
  border-bottom: 1px solid #2D3440;
}

.breadcrumbs {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  color: #2D3440;
}

.breadcrumbs-creamy {
  border-bottom: 1px solid #2D3440;
}

.catalog-filter {
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
}

.catalog-filter-group {
  background: rgb(252, 252, 252, 30%);
  border-radius: 20px;
}

.button-filter {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #2D3440;
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 20px;
}

.button-show-more {
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #2D3440;
  background: #FCFCFC;
  border: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0px 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
}

.pagination-link {
  line-height: 20px;
  text-decoration: none;
  color: #2D3440;
}

.pagination-current {
  background: #FCFCFC;
  border-radius: 50px;
  width: 24px;
  height: 24px;
  padding: 2px 8px;
  gap: 10px;
}
